<md-content class="md-padding padding-inner">
    <div ng-repeat="cardItem in Cards.cardItems.list">
      <div layout="row" layout-wrap layout-align="start center">
        <md-content layout-padding>

          <h3 class="md-title">{{cardItem.name}}</h3>
          <p>{{cardItem.description}}</p>
          <md-divider></md-divider>
          <a href="{{cardItem.homepage}}" target="_blank"><span>Company homepage</span></a><br/>
          <!--<md-divider></md-divider>-->
          <a href="http://{{cardItem.finder_url}}" target="_blank"><span>More information</span></a>
          <!--<md-divider></md-divider>-->
          <div flex="auto">
          <md-chips ng-model="cardItem.tags" name="tags" readonly="true">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
        </div>
        </md-content>
        <md-button flex-xs="100" class="md-raised md-primary btn1" href="/cards">Back</md-button>
    </div>
  </div>
</md-content>
