<div class="padding-inner">
  <div layout="row" layout-wrap layout-align="start center">
    <md-button class="md-warn md-raised md-hue-2 selectChallengesBtn" href="https://docs.google.com/a/cornell.edu/forms/d/1ncWhph7kw09NghlgAcrmPpruBpyFoS5_Kf0gwVlRduk/edit?usp=sharing_eidp&ts=57ea8bbe" target="_blank">
      <span class="selectChallengesBtn">Select your challenges</span>
    </md-button>
    <div flex="100" flex-sm="100" flex-xs="100" ng-repeat="challengeItem in Tabs.challenges.list">
      <md-card class="challengeCard" md-whiteframe="{{height}}"
               ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">#{{ challengeItem.id }}: {{ challengeItem.companies[0].company.name }} & {{ challengeItem.companies[1].company.name }}</span>
          </md-card-header-text>
        </md-card-header>
        <md-divider/>
        <md-card-content>
          <div layout="row" layout-xs="column" layout-wrap>
            <div flex="20">
              <img ng-src="{{challengeItem.companies[0].company.image}}{{challengeItem.companies[0].company.id}}.png" class="md-card-image pairImage" alt="">
            </div>
            <div flex="80">
              <p>
              {{ challengeItem.companies[0].company.tag_line }}
            </p>
            <p>
              {{ challengeItem.companies[0].company.description}}
            </p>
            <md-button md-no-ink class="link-button" href="{{challengeItem.companies[0].company.homepage}}" target="_blank">Company homepage</md-button>
            <md-button elclass="link-button" href="http://{{challengeItem.companies[0].company.finder_url}}" target="_blank">More information</md-button>
            <md-chips ng-model="challengeItem.companies[0].company.tags" name="tags" readonly="true">
              <md-chip-template>
                <strong>{{$chip}}</strong>
              </md-chip-template>
            </md-chips>
            </div>
          </div>
          <md-divider/>
          <div layout="row" layout-xs="column" layout-wrap>
            <div flex="20">
              <img ng-src="{{challengeItem.companies[1].company.image}}{{challengeItem.companies[1].company.id}}.png" class="md-card-image pairImage" alt="">
            </div>
          <div flex="80">
            <p>
            {{ challengeItem.companies[1].company.tag_line }}
          </p>
          <p>
            {{ challengeItem.companies[1].company.description}}
          </p>
          <md-button md-no-ink class="link-button" href="{{challengeItem.companies[1].company.homepage}}" target="_blank">Company homepage</md-button>
          <md-button elclass="link-button" href="http://{{challengeItem.companies[1].company.finder_url}}" target="_blank">More information</md-button>
          <md-chips ng-model="challengeItem.companies[1].company.tags" name="tags" readonly="true">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
            </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="/challenges/{{ challengeItem.id }}">See Challenges</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>