<div class="padding-inner">
  <div layout="row" layout-wrap layout-align="start center">
    <div flex="100" flex-sm="100" flex-xs="100" ng-repeat="challengeItem in Tabs.challenges.list">
      <md-card class="challengeCard" md-whiteframe="{{height}}"
               ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">#{{ challengeItem.id }}: {{ challengeItem.companies[0].company.name }} & {{ challengeItem.companies[1].company.name }}</span>
          </md-card-header-text>
        </md-card-header>
        <md-divider/>

        <md-card-content ng-repeat="companyChallengeItem in challengeItem.companies">
          <img ng-src="{{companyChallengeItem.company.image}}{{companyChallengeItem.company.id}}.png" class="md-card-image pairImage" alt="">
          <p>
            {{ companyChallengeItem.company.tag_line }}
          </p>
          <h3>Challenge:</h3>
          <div ng-repeat="paragraphItem in companyChallengeItem.paragraphs track by $index">
            <p>{{ paragraphItem }}</p>
          </div>
          <h3>Contact information: </h3>
          <p>Position: {{ companyChallengeItem.contactPosition }}</p>
          <p>Name: {{ companyChallengeItem.contactName }}</p>
          <p>Email: <a href="mailto:{{ companyChallengeItem.contactEmail }}">{{ companyChallengeItem.contactEmail }}</a>
          </p>
          <p>Skype: {{ companyChallengeItem.contactSkype }}</p>
          <md-chips ng-model="companyChallengeItem.company.tags" name="tags" readonly="true">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
          <md-divider/>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="{{Tabs.back}}">Back</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>