@import url(http://weloveiconfonts.com/api/?family=entypo);
h1, h2, h3, h4, h5, h6, p, span {
    font-family: "Open Sans", Helvetica;
    color: rgb(90, 90, 90);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*sidebar*/


/* entypo */

[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px 50px;
    background: white;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 150px;
}

#sticky-social a {
    background: #333 !important;
    color: #fff !important;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
}

#sticky-social a span {
    background: #333 !important;
    color: #fff !important;
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align: center;
    width: 120px;
}

#sticky-social a:hover span {
    left: 100%;
}

#sticky-social a[class*="brush"], #sticky-social a[class*="brush"]:hover, #sticky-social a[class*="brush"] span {
    background: #333333;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

md-tabs-canvas {
    background-color: white;
}


/*sidebar*/
.padding-inner {
    padding: 60px 5%;
}


/* Overwrite Defaults */

.md-toolbar-tools.layout-wrap.layout-align-center-center.layout-row {
    border-bottom: solid 1px rgba(0, 0, 0, 0.09);
}

form.ng-pristine.ng-invalid.ng-invalid-required {
    display: table-caption;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 44%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p, .timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline>li>.timeline-panel {
        float: right;
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.btn1 {
    margin: 6px 8px 6px -2px;
}

.companyImage {
    height: 200px;
    width: auto;
    /*margin: 10px 4px 4px 10px;*/
}

.card1 {
    height: 300px;
}

.challengeCard {
    height: auto;
}

.search1 {
    margin: 8px;
}

.companyLink {
    text-decoration: none !important;
}

.companyInChallengeLink {
    height: 100%;
    width: 100%;
}

.pairImage {
    height: 100px;
}

.video-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px 5%;
    /* Set rules to fill background */
    min-height: 100%;
    /*min-width: 1024px;*/
    /* Set up proportionate scaling */
    height: auto;
    /* Set up positioning */
    position: fixed;
}

.navitem1:hover {
    font-weight: bolder;
}

.link-button {
    color: black;
}

.seeChallengeBtn {
    color: white;
}

.selectChallengesBtn {
    color: white;
    margin-top: 16px;
}

.highlight {
    background-color: #BCD6FE;
}

.image-responsive {
    max-height: 100%;
    max-width: 100%;
}

.md-grid-list {
    margin: 8px;
}

.md-grid-tile {
    transition: all 400ms ease-out 50ms;
}

.ourForm {
    widht: 100%;
}

.medium_title h1 {
    float: left;
    margin-left: 20px;
    font-size: 15px;
}

.medium_share {
    margin-left: 400px;
}
.medium_share h1 {
    text-align: right;
    float: right;
    font-size: 15px;
}

.medium_publish {
    margin-left: 15px;
}
.medium_publish h1 {
    text-align: left;
    margin-left: 15px;
    margin-right: 150px;
    font-size: 15px;
    color: #3cb371;
}


/* Overwrite Defaults */

md-toolbar.toolbar h1, md-toolbar.md-toolbar-tools h3, md-tabs md-tabs-wrapper md-tab-item span, md-tabs md-tabs-wrapper md-icon, .md-primary span {
    color: gray;
}

md-toolbar.toolbar {
    background-color: white;
}

md-icon-button {
    font-size: 20px;
}

md-tabs md-tabs-wrapper {
    background: #3cb371;
}

md-button {
    padding: 0 12px;
}

md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder {
    color: grey !important;
}

md-input-container .md-input {
    border-color: white;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: white;
}
.monk_logo {
    height: 50px;
    margin-left: 150px;
}
.editor {
    width: 50%;
    margin-left: 25%;
}