<md-content class="md-padding padding-inner">
  <div layout="row" layout-wrap layout-align="center center">
    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">iTrek presentation to Cornell Tech students</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Sep 13</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">First payment of $1,500 is due (and buy your airline ticket!)</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Sep 21</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Challenges are posted for students to choose</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Sep 27</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Students submit their preferences</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Oct 1 EOD</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Matching of students and startups are announced </h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Oct 3 EOD</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">the first weekly call with each startup has to be arranged</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Week of Oct 5th</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Shopyourway presentation (Sears)</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Oct XXX</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">First milestone</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Nov 8 & 9</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Second payment is due (TBD)</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Nov 9</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Second milestone</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Dec 7 & 8</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">iTrek starts!</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Jan 7 (eve)</small></p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">iTrek ends :(</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Jan 20</small></p>
          </div>
          <div class="timeline-body">
            <p>Thank you for participating Cornell Tech iTrek 2017. This was a lifetime experience, for those who remember anything :-)</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</md-content>
